# Configuración General del Entorno
ENVIRONMENT=development
PROJECT_NAME="Sistema Inteligente de Gestión de Salas de Estudio"
API_V1_STR="/api/v1"

# Conexión a la Base de Datos PostgreSQL
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=studyroom_db
POSTGRES_USER=studyroom_user
POSTGRES_PASSWORD=studyroom_password
DATABASE_URL=postgresql+psycopg2://studyroom_user:studyroom_password@localhost:5432/studyroom_db

# Simulación de App Externa Universitaria
EXTERNAL_UNIVERSITY_API_KEY=sim_secret_key_univ_2026

# Configuración de Seguridad
SECRET_KEY=super_secret_jwt_key_studyroom_2026
ACCESS_TOKEN_EXPIRE_MINUTES=480
